/* assignment 1 / Ahmed Sami mohmaed / 1948660  */
.namm{
  border-radius: 20px;
  background: rgba(209, 214, 210, 0.6);
}
.nav-item{
  margin-left: 2%;
  border-radius: 80%;
  padding: 2%;
}
.navbar-brand{
  margin-left: auto;
  margin-right: auto;
}
html {
  font-size: 62.5%;
}
body{
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 10px;
  background-image: url(../imge/cc.jpeg) ;
  /* background-color: #c8e8e9; */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding: 2%;
  width:30PX;
  height: 30PX;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  margin-top: 2%;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #5029bc;
}
.btnm{
  margin: 5%;
  padding: 5%;
  width: 40%;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  
}
.btnm:hover{
  background-color: #817FFD;

}


.BOX{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0PX;
  margin-top: 2%;
}

.BOXX{
  display: flex;
  padding-bottom: 0PX;
  margin-top: 2%;
}
.texthed{
  margin-right: 15%;
  padding: 1%;
  color: gray;
  font-size: 20px;
}
.leststyle{
  padding: 1%;
  width: 30%;
  color: #808080;
  border-radius: 20px;
  font-size: 20px;
}


@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
